# /etc/systemd/system/reporting.service
[Unit]
Description=Schedular Service
After=network.target

[Service]
ExecStart=/home/ellenfel/Desktop/repos/scheduler/service/scheduler.sh
Restart=always
User=root
WorkingDirectory=/home/ellenfel/Desktop/repos/scheduler/app/

[Install]
WantedBy=multi-user.target